@import url(header.css);

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --Azul-escuro: #002F52;
    --Azul: #326589;
    --Azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --laranja: #EB9B00;
    --Background-1: #E5E5E5;
    --Background-2: #EBECEE;
    --fonte-rodape-1: #858585;
    --fonte-rodape-2: #474646;
    --fonte-principal: "Poppins"
}

body {
    background: var(--Background-1);
    color: var(--preto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}